<%= render partial: 'shared/breadcrumbs', locals: { items: [link_to('Imports', imports_path), link_to(@import.id, import_path(@import)), 'Pair columns'] } %>
<h1>Pair Columns</h1>
<%= form_for @import, data: { turbo: false } do |f| %>
  <%= hidden_field_tag :schedule_job, @continue.present? %>
  <div class="mt-4">
    Please select the matching attribute for the columns obtained from the CSV
  </div>
  <div class="mt-2">
    <table class="table">
      <thead>
        <tr>
          <th>Contact Attribute</th>
          <th>CSV Header</th>
        </tr>
      </thead>
      <tbody>
        <% @contact_attributes.each do |attribute| %>
          <tr>
            <td><%= attribute %></td>
            <td>
              <%= select_tag "import[columns_pair][#{attribute}]", options_for_select(@csv_headers, @import.columns_pair&.dig(attribute)), {include_blank: '-', class: 'form-select', required: true} %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class="mt-2">
    <%= f.submit @continue ? 'Continue' : 'Pair', class: 'btn btn-primary' %>
    <%= link_to 'Cancel', import_path(@import), class: 'btn btn-link' %>
  </div>
<% end %>