<%= turbo_stream_from @import %>
<%= render partial: 'shared/breadcrumbs', locals: { items: [link_to('Imports', imports_path), @import.id] } %>
<h1>Import</h1>
<div class="d-flex justify-content-end mt-3">
  <%= link_to schedule_import_import_path(@import), class: 'btn btn-primary mx-2', method: :post do %>
    Re-Import
  <% end %>
  <%= button_to @import, class: 'btn btn-danger', method: :delete, form: { data: { turbo: false, confirm: 'Are you sure?' } } do %>
    Delete
  <% end %>
</div>
<div class="row mt-3">
  <div class="col-12 col-md-4 d-flex align-items-center">
    <%= label_tag(:id, 'ID', class: 'form-label') %>
  </div>
  <div class="col-12 col-md-8">
    <%= text_field_tag :id, @import.id, class: 'form-control', readonly: true %>
  </div>
</div>
<div class="row mt-3">
  <div class="col-12 col-md-4 d-flex align-items-center">
    <%= label_tag(:current_status, 'Status', class: 'form-label') %>
  </div>
  <div class="col-12 col-md-8">
    <%= turbo_frame_tag "#{dom_id(@import)}_status" do %>
      <%= render 'status', import: @import %>
    <% end %>
  </div>
</div>
<div class="row mt-3">
  <div class="col-12 col-md-4 d-flex align-items-center">
    <%= label_tag(:file, 'Uploaded filename', class: 'form-label') %>
  </div>
  <div class="col-12 col-md-8">
    <%= text_field_tag :file, @import.file.filename, class: 'form-control', readonly: true %>
  </div>
</div>
<div class="row mt-3">
  <div class="col-12 col-md-4 d-flex align-items-center">
    <%= label_tag(:created_at, 'Created on', class: 'form-label') %>
  </div>
  <div class="col-12 col-md-8">
    <%= text_field_tag :created_at, @import.created_at.strftime('%Y/%m/%d'), class: 'form-control', readonly: true %>
  </div>
</div>
<div class="row mt-3">
  <div class="col-12 col-md-4 d-flex align-items-center">
    <%= label_tag(:columns_pair, 'Columns pairing', class: 'form-label') %>
  </div>
  <div class="col-12 col-md-8">
    <%= turbo_frame_tag "#{dom_id(@import)}_columns" do %>
      <%= render 'columns', import: @import %>
    <% end %>
  </div>
</div>

<h2 class="mt-4">Logs</h2>
<div class="d-flex justify-content-end mt-3">
  <%= button_to clear_logs_import_path(@import), class: 'btn btn-outline-danger', method: :delete, data: { turbo_method: :delete } do %>
    Clear Logs
  <% end %>
</div>
<%= turbo_frame_tag "#{dom_id(@import)}_logs" do %>
  <%= render "logs", import: @import %>
<% end %>