<tr>
  <td><%= contact.id %></td>
  <td><%= contact.name %></td>
  <td><%= contact.address %></td>
  <td><%= contact.birthdate %></td>
  <td><%= contact.last_4 %></td>
  <td><%= contact.email %></td>
  <td><%= contact.phone %></td>
  <td>
    <%= button_to contact, class: 'btn btn-sm btn-danger', method: :delete, form: { data: { turbo: false, confirm: 'Are you sure?' } } do %>
      Delete
    <% end %>
  </td>
</tr>